<h1>Bonjour</h1>
<p>Vous avez demandé a changer le mot de passe de votre compte Snipshare</p>
<% reset_password_link = "localhost:3001/new-password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
  <button class="new-password-button">
    Cliquez sur ce lien pour changer de mot de passe
  </button>
<% end %>
<p> si cette demande ne vient pas de vous, ignorez cet email</p>
