<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue sur Snipshare, <%= @user.username %></h1>
<p>
  vous vous etes inscrit sur Snipshare en utilsant l'adresse mail <%= @user.email %>,
</p>
<p>
  Rendez vous sur ce lien pour vous connecter: <%= @url %>.
</p>
<p>Merci de nous avoir rejoint !</p>
</body>
</html>
