<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenue sur Snipshare, <%= @user.username %></h1><br />

<p>Nous vous remercions pour votre inscription. </p><br />  
<p>Vous pouvez vous dès à présent poster vos propres snippets et réagir, commenter ou partager ceux des autres ! </p><br /><br />

<p>Pour ce faire, connectez-vous dès à présent avec votre adresse email à l'adresse suivante : <%= @url %></p><br /><br />

<p>A très bientôt sur Snipshare !</p><br />
</body>
</html>
